torch==1.9.0  # todo change to >=
pytorch-lightning==1.4.9
torchmetrics==0.5.1
transformers==4.11.3
hydra-core==1.1.1
# argcomplete
argcomplete==1.12.3
# datasets and metrics
datasets==1.12.1
seqeval==1.2.2
scikit-learn==0.24.2
matplotlib==3.4.3
# optional(?)
sentencepiece==0.1.96  # required by unigram tokenizers (mbart)
wandb==0.12.2  # required for logging
nltk==3.6.5
rouge-score==0.0.4  # required by rouge callback
sacrebleu==1.4.12  # required by sacrebleu callback
rich==11.0.0
plotly==5.5.0
