# torch tested against torch=1.9.0
pytorch-lightning==1.4.5
transformers==4.11.3
hydra-core==1.1.1
# datasets and metrics
datasets==1.11.0
seqeval==1.2.2
scikit-learn==0.24.2
matplotlib==3.4.3
# web
fastapi==0.68.1
uvicorn[standard]==0.15.0
streamlit==0.88.0
st-annotated-text==2.0.0
# optional(?)
sentencepiece==0.1.96  # required by unigram tokenizers (mbart)
wandb==0.12.2  # required for logging
nltk==3.4.5  # required by esc
networkx==2.5  # required by esc
rouge-score==0.0.4  # required by rouge callback
sacrebleu==1.4.12  # required by sacrebleu callback
# black
black==21.8b0
argcomplete==1.12.3